{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "Documentación completa de la API del sistema",
        "contact": {
            "email": "info@appnet.dev"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://app.appnet.dev",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/ollama-tasks": {
            "post": {
                "tags": [
                    "Ollama Tasks"
                ],
                "summary": "Crear una nueva tarea de Ollama",
                "description": "Crea una nueva tarea asíncrona para procesar un prompt con Ollama. Requiere autenticación por token de API.",
                "operationId": "createTask",
                "requestBody": {
                    "description": "Datos de la tarea a crear",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TaskInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tarea creada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaskResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/ollama-tasks/{id}": {
            "get": {
                "tags": [
                    "Ollama Tasks"
                ],
                "summary": "Obtener el resultado de una tarea",
                "description": "Obtiene el estado y resultado de una tarea de Ollama por su ID. Requiere autenticación por token de API.",
                "operationId": "getTaskResult",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la tarea",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalles de la tarea",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaskResult"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Tarea no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFoundResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/scraping/callback": {
            "post": {
                "tags": [
                    "Scraping"
                ],
                "summary": "Recibe un callback del servicio de scraping",
                "description": "Maneja el callback del servicio de scraping",
                "operationId": "a7d49541f2946f95a0f823bf1c41c3d0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "task_id",
                                    "status",
                                    "fuente"
                                ],
                                "properties": {
                                    "task_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "550e8400-e29b-41d4-a716-446655440000"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "completed",
                                            "failed"
                                        ]
                                    },
                                    "error_message": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "fuente": {
                                        "type": "string"
                                    },
                                    "empresas": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        },
                                        "nullable": true
                                    },
                                    "datos": {
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "resultados": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        },
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Callback procesado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/server-monitor/metrics": {
            "post": {
                "tags": [
                    "Server Monitor"
                ],
                "summary": "Almacena métricas del servidor",
                "description": "Almacena las métricas de un servidor",
                "operationId": "96f22fce4317a1eab90ffa59c01b7258",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "total_memory",
                                    "memory_free",
                                    "memory_used",
                                    "memory_used_percent",
                                    "disk",
                                    "cpu"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "host-unique-token"
                                    },
                                    "total_memory": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 8192
                                    },
                                    "memory_free": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 4096
                                    },
                                    "memory_used": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 4096
                                    },
                                    "memory_used_percent": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 50.5
                                    },
                                    "disk": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 75.2
                                    },
                                    "cpu": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 25.7
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Métricas almacenadas correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Host no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Host no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiToken": []
                    }
                ]
            }
        },
        "/api/telegram/messages": {
            "post": {
                "tags": [
                    "Telegram"
                ],
                "summary": "Almacena un mensaje de Telegram",
                "description": "Almacena un mensaje de Telegram y crea el contacto si no existe",
                "operationId": "a98edb383f9b63cc588d5275662209ef",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "peer"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "peer": {
                                        "type": "string",
                                        "example": "123456789"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "Hola desde Swagger"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "sent",
                                            "received"
                                        ],
                                        "example": "received"
                                    },
                                    "media_url": {
                                        "type": "string",
                                        "example": "https://example.com/media.jpg",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Mensaje almacenado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Token inválido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/telegram/send-message": {
            "post": {
                "tags": [
                    "Telegram"
                ],
                "summary": "Enviar un mensaje de texto",
                "operationId": "3f3c64434ac7ac67701c3c53ceddee5d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "chat_id",
                                    "text"
                                ],
                                "properties": {
                                    "chat_id": {
                                        "type": "string",
                                        "example": "123456789"
                                    },
                                    "text": {
                                        "type": "string",
                                        "example": "Hola, esto es un mensaje de prueba"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mensaje enviado correctamente"
                    },
                    "400": {
                        "description": "Error de validación"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/api/telegram/updates": {
            "get": {
                "tags": [
                    "Telegram"
                ],
                "summary": "Obtener actualizaciones de mensajes",
                "operationId": "04a46d5be9264bc29130a9e76aab423f",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Identificador de la última actualización recibida",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Número máximo de actualizaciones a devolver",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de actualizaciones"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/api/telegram/send-photo": {
            "post": {
                "tags": [
                    "Telegram"
                ],
                "summary": "Enviar una foto",
                "operationId": "372245475bae0ecd15c59fa0a6810207",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "chat_id",
                                    "photo"
                                ],
                                "properties": {
                                    "chat_id": {
                                        "type": "string",
                                        "example": "123456789"
                                    },
                                    "photo": {
                                        "type": "string",
                                        "format": "url",
                                        "example": "https://example.com/photo.jpg"
                                    },
                                    "caption": {
                                        "type": "string",
                                        "example": "Descripción de la foto"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Foto enviada correctamente"
                    },
                    "400": {
                        "description": "Error de validación"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/api/telegram/me": {
            "get": {
                "tags": [
                    "Telegram"
                ],
                "summary": "Obtener información del bot",
                "operationId": "6722d0ef26c543fef464a38f0357f75b",
                "responses": {
                    "200": {
                        "description": "Información del bot"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/api/telegram/chats": {
            "get": {
                "tags": [
                    "Telegram"
                ],
                "summary": "Obtener la lista de chats",
                "operationId": "7ef94c4e07598c522a384676674aa39b",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Número máximo de chats a devolver",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "maximum": 200
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Desplazamiento para la paginación",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de chats obtenida correctamente"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/api/telegram/chat-messages": {
            "get": {
                "tags": [
                    "Telegram"
                ],
                "summary": "Obtener mensajes de un chat específico",
                "operationId": "52c1e4e521c93a3deeaa6d4e4b00d0cc",
                "parameters": [
                    {
                        "name": "chat_id",
                        "in": "query",
                        "description": "ID del chat",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Número máximo de mensajes a devolver",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "ID del mensaje a partir del cual obtener los mensajes",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mensajes del chat obtenidos correctamente"
                    },
                    "400": {
                        "description": "Error de validación"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/api/telegram/contacts": {
            "get": {
                "tags": [
                    "Telegram"
                ],
                "summary": "Obtener la lista de contactos",
                "operationId": "3e60e42da76ed4b0c2eb970b199e51dc",
                "responses": {
                    "200": {
                        "description": "Lista de contactos obtenida correctamente"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/api/telegram/chat-info": {
            "get": {
                "tags": [
                    "Telegram"
                ],
                "summary": "Obtener información de un chat específico",
                "operationId": "efaaa9de053705ede3a5438a41d8a1ca",
                "parameters": [
                    {
                        "name": "chat_id",
                        "in": "query",
                        "description": "ID del chat",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Información del chat obtenida correctamente"
                    },
                    "400": {
                        "description": "Error de validación"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/api/whatsapp/send-message": {
            "post": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Enviar mensaje de WhatsApp",
                "operationId": "7a6cec1544854c927e0a99ff45143865",
                "parameters": [
                    {
                        "name": "server_id",
                        "in": "query",
                        "description": "ID del servidor de WhatsApp",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 2
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "to",
                                    "message"
                                ],
                                "properties": {
                                    "to": {
                                        "type": "string",
                                        "example": "34612345678"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "Hola, esto es un mensaje de prueba"
                                    },
                                    "options": {
                                        "type": "object",
                                        "example": {
                                            "delay": 1000
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mensaje enviado correctamente"
                    },
                    "400": {
                        "description": "Error de validación"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/api/whatsapp/sessions": {
            "get": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Obtener sesiones de WhatsApp",
                "operationId": "cfde2cb294333df012ca89bb56bc8c11",
                "responses": {
                    "200": {
                        "description": "Lista de sesiones"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/api/whatsapp/start-session": {
            "post": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Iniciar sesión de WhatsApp",
                "operationId": "f82578fc5d6beae09a1c27e242e7e2c2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "session_id"
                                ],
                                "properties": {
                                    "session_id": {
                                        "type": "string",
                                        "example": "my-session-1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sesión iniciada correctamente"
                    },
                    "400": {
                        "description": "Error de validación"
                    },
                    "500": {
                        "description": "Error interno del servidor"
                    }
                }
            }
        },
        "/api/whatsapp/chats": {
            "get": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Obtener lista de chats",
                "operationId": "d75b9ee8d144486eb254062ea8166cec",
                "parameters": [
                    {
                        "name": "server_id",
                        "in": "query",
                        "description": "ID del servidor de WhatsApp",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 2
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Límite de chats a devolver",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de chats"
                    }
                }
            }
        },
        "/api/whatsapp/messages": {
            "get": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Obtener mensajes de un chat",
                "operationId": "50c4b9fe0a0420de8006ec8d9a59cddc",
                "parameters": [
                    {
                        "name": "chat_id",
                        "in": "query",
                        "description": "ID del chat",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Límite de mensajes a devolver",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de mensajes del chat"
                    }
                }
            },
            "post": {
                "tags": [
                    "Whatsapp Message"
                ],
                "summary": "Almacenar mensaje de WhatsApp",
                "description": "Valida el token, almacena el mensaje en la base de datos y crea el contacto asociado si aún no existe. Además, si el mensaje es recibido, se evalúa si se debe enviar una respuesta automática.",
                "operationId": "storeWhatsappMessage",
                "requestBody": {
                    "description": "Datos necesarios para crear el mensaje",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "user_id",
                                    "phone",
                                    "message",
                                    "status"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "mi_token_secreto"
                                    },
                                    "user_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "123456789"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "Hola, ¿cómo estás?"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "send",
                                            "received"
                                        ],
                                        "example": "received"
                                    },
                                    "image": {
                                        "type": "string",
                                        "example": "https://example.com/image.jpg",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Mensaje creado exitosamente y contacto creado si no existía.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Mensaje de WhatsApp creado exitosamente y contacto creado si no existía."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Token inválido.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Token inválido."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/whatsapp/download-media": {
            "get": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Descargar un archivo multimedia",
                "operationId": "16b422c1495757defd20fbd87e02beb7",
                "parameters": [
                    {
                        "name": "message_id",
                        "in": "query",
                        "description": "ID del mensaje que contiene el medio",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Archivo multimedia descargado"
                    }
                }
            }
        },
        "/api/whatsapp/send-media": {
            "post": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Enviar un archivo multimedia",
                "operationId": "6ee0c22b9ddc52df78ad669884938457",
                "parameters": [
                    {
                        "name": "server_id",
                        "in": "query",
                        "description": "ID del servidor de WhatsApp",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 2
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "to",
                                    "media_url",
                                    "caption"
                                ],
                                "properties": {
                                    "to": {
                                        "type": "string",
                                        "example": "34612345678"
                                    },
                                    "media_url": {
                                        "type": "string",
                                        "example": "https://example.com/image.jpg"
                                    },
                                    "caption": {
                                        "type": "string",
                                        "example": "Mira esta imagen"
                                    },
                                    "filename": {
                                        "type": "string",
                                        "example": "imagen.jpg"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Archivo multimedia enviado correctamente"
                    }
                }
            }
        },
        "/api/whatsapp/contact-info": {
            "get": {
                "tags": [
                    "WhatsApp"
                ],
                "summary": "Obtener información de un contacto",
                "operationId": "99055e139707917631746251c5dbf2fc",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "query",
                        "description": "ID o número de teléfono del contacto",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Información del contacto"
                    }
                }
            }
        },
        "/api/whatsapp/send-message-now": {
            "post": {
                "tags": [
                    "Whatsapp Message"
                ],
                "summary": "Enviar mensaje sin almacenar",
                "description": "Valida el token y envía un mensaje a través de la API de Node sin guardarlo en la base de datos.",
                "operationId": "sendMessageNow",
                "requestBody": {
                    "description": "Datos necesarios para enviar el mensaje",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "sessionId",
                                    "jid",
                                    "message"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "mi_token_secreto"
                                    },
                                    "sessionId": {
                                        "type": "string",
                                        "example": "1"
                                    },
                                    "jid": {
                                        "type": "string",
                                        "example": "123456789"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "Hola, ¿cómo estás?"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mensaje enviado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Mensaje enviado correctamente"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Token inválido.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Token inválido."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error al enviar el mensaje vía Node",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error sending message via Node: ..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "TaskInput": {
                "required": [
                    "prompt"
                ],
                "properties": {
                    "prompt": {
                        "type": "string",
                        "example": "Dime un chiste"
                    },
                    "model": {
                        "type": "string",
                        "example": "gemma3:4b-it-qat"
                    },
                    "callback_url": {
                        "type": "string",
                        "format": "url",
                        "example": "https://tudominio.com/webhook/ollama-callback"
                    }
                },
                "type": "object"
            },
            "TaskResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "task_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "status": {
                        "type": "string",
                        "example": "Task created and queued for processing"
                    }
                },
                "type": "object"
            },
            "TaskResult": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "task": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": 1
                            },
                            "model": {
                                "type": "string",
                                "example": "gemma3:4b-it-qat"
                            },
                            "prompt": {
                                "type": "string",
                                "example": "Dime un chiste"
                            },
                            "response": {
                                "type": "string",
                                "example": "¿Por qué los programadores prefieren el modo oscuro? ¡Porque la luz atrae los bugs!",
                                "nullable": true
                            },
                            "error": {
                                "type": "string",
                                "example": null,
                                "nullable": true
                            },
                            "created_at": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "updated_at": {
                                "type": "string",
                                "format": "date-time"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "ErrorResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "Error de validación"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "properties": {
                                "": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "NotFoundResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "error": {
                        "type": "string",
                        "example": "Task not found"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "name": "Authorization",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            },
            "whatsappToken": {
                "type": "apiKey",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "tags": [
        {
            "name": "WhatsApp",
            "description": "Endpoints para interactuar con la API de WhatsApp"
        },
        {
            "name": "Telegram",
            "description": "Endpoints para interactuar con la API de Telegram"
        },
        {
            "name": "Ollama Tasks",
            "description": "Endpoints para gestionar tareas de Ollama"
        },
        {
            "name": "Scraping",
            "description": "Endpoints para manejar el servicio de scraping"
        },
        {
            "name": "Server Monitor",
            "description": "Endpoints para monitoreo de servidores"
        },
        {
            "name": "Whatsapp Message",
            "description": "Whatsapp Message"
        }
    ]
}