/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/draft.yaml
/.blueprint
/storage/dotenv-editor
/packages
ngrok.exe
tf_env/
whatsapp/baileys_store_multi*
whatsapp/baileys_store*
whatsapp/wa-logs.txt
/.whatsapp/baileys_store_multi*
/.whatsapp/baileys_store*
/.whatsapp/wa-logs.txt
whatsapp/baileys_auth_info/*
/.whatsapp/baileys_auth_info/*
# Ignorar archivos y carpetas dentro de la carpeta whatsapp
whatsapp/baileys_store_multi*
whatsapp/baileys_store*
whatsapp/wa-logs.txt
whatsapp/baileys_auth_info/*
# Ignorar archivos y carpetas dentro de la carpeta whatsapp
/.whatsapp/whatsapp_sessions/*
whatsapp/whatsapp_sessions/*